@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("../imgs/Fundo\ de\ tela\ do\ Corinthians_\ O\ Corinthians\ é\ o\ time\ do\ povo.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header {
  background-color: black;
  border-bottom: 0px;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: white;
  margin: 5px;
}

#logo {
  position: relative;
  right: 20px;
  top: 10px;
}

#logo2 {
  position: relative;
  all: 5px;
  width: 250px;
  left: 200px;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: white;
}


.titulo {
  color: white;
  width: fit-content;
  font-weight: 500;
}


/* BANNER */


.banner {
  height: fit-content;
  padding: 100px 0;
  
  background-size: cover;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .card {
  width: 500px;
  border-radius: 50px;
  padding: 2000px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: black;
  padding: 25px;
  backdrop-filter: blur(6px);
  align-items: center;
}

.banner .card .campo input{
  border-radius: 25px;
  background-color: white;
  width: 200px;
}


.campo {
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin: 15px;
}

.campo span {
  min-width: 100px;
  color: antiquewhite;

}

.banner .container {
  height: 400px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.tamanho-conteudo {
  height: fit-content !important;
}

.banner .card button{
  position: relative;
  left: 175px;
  border-radius: 50px;
  width: 150px;
  background-color: white;
} 

.banner .container span {
  font-weight: 800;
}

/* FOOTER */

.footer {
  background-color: black;
  height: 150px;
  color: white;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 15px;
}