@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;    
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header {
    background-color: black;
    border-bottom: 0px;
}

.header .container {
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: white;
    margin: 5px;
}

.container {
    width: 80%;
    margin: auto;

}

#logo {
    position: relative;
    right: 20px;
    top: 10px;
}

#logo2 {
    position: relative;
    all: 5px;
    width: 250px;
    left: 200px;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
}


.titulo {
    color: white;
    width: fit-content;
    font-weight: 500;
}


/* BANNER */

html{
    overflow-x: hidden;
}

.banner {
    height: fit-content;
    padding: 40px ;
    background-image: url("../imgs/Wallpaper\ Corinthians\ SCCP.jpeg");
    background-size: cover;
    top: 10px;
}

.banner .container {
    height: 400px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
}

.tamanho-conteudo {
    height: fit-content !important;
}

section {
    position: relative;
}

.banner p {
    color: #fff;
    width: 50%;
    margin: 50px;
    font-size: 25px;
        
}

h2 {
    color: floralwhite;
    margin: 50px;
}

.banner .container span {
    font-weight: 800;
}

/* missao visao valores */

/* FOOTER */

.footer {
    background-color: black;
    height: 150px;
    color: white;
    display: flex;
    font-size: 15px;
}

.footer .container {
    justify-content: center;
    text-align: center;
}

.footer .container .version {
    font-size: 15px;
}